{% extends "layout.html" %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->

<div class="row">
    <div class="span8">
        <p class="lead">This site would be ugly and slow</p>
        <p>Without the following sources of awesome:</p>
        <dl class="dl-horizontal">
            <dt><a href="http://redis.io/">redis</a></dt>
            <dd>a super-fast key-value store with magic like SINTER and ZINTERSTORE for all your set-theory desires</dd>

            <dt><a href="flask.pocoo.org">flask</a></dt>
            <dd>A minimal python framework that gets out of your way and lets you get things done</dd>

            <dt><a href="https://github.com/unbit/uwsgi">uWSGI</a> &amp; <a href="http://nginx.org/">nginx</a></dt>
            <dd>Fronting for the backend</dd>

            <dt><a href="http://twitter.github.io/bootstrap/">twitter's Bootstrap</a></dt>
            <dd>Finally allowing backend programmers to have easy, good-looking interfaces with minimal effort</dd>

            <dt><a href="http://mottie.github.io/tablesorter/">tablesorter</a></dt>
            <dd>sortable tables, yay!</dd>

            <dt><a href="http://bootswatch.com/cosmo/">cosmo theme</a></dt>
            <dd>Making things a little less generic</dd>
        </dl>
    </div>

</div>
{% endblock %}