{% extends "layout.html" %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->

<!-- Example row of columns -->
<div class="row">
    <div class="span12">
        <h2>Search for a hospital by name, city, state, or medicare id,<br/> or search for a drg by description or id:</h2>
        <form class="form-inline" action="/search" method="get">
            <input type="text" class="input" placeholder="search..." name="search_string">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>


</div>
<div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>This is a quick and dirty interface to the CMS chargemaster sheet discussed <a href="http://swampland.time.com/2013/05/08/an-end-to-medical-billing-secrecy/">here</a>. </p>

    <p>Please note, there are <a href="http://economix.blogs.nytimes.com/2013/05/10/american-health-care-as-a-source-of-humor/">CAVEATS</a> to this data. The best uses for this data are probably negotiating with your hospital's billing office and general raging about captialism/obamacare/socialism/whatever.</p>
    <blockquote>
        <em>Acting on the suggestion of her top data crunchers at the department’s Centers for Medicare and Medicaid Services (CMS), Health and Human Services Secretary Kathleen Sebelius released an enormous data file on May 8 that reveals the list—or “chargemaster”—prices of all hospitals across the country for the 100 most common inpatient treatment services in 2011. It then compares those prices with what Medicare actually paid hospitals for the same treatments—which was typically a fraction of the chargemaster prices.</em>

        <small>Steven Brill  <cite title="An End to Medical-Billing Secrecy?"><a href="http://swampland.time.com/2013/05/08/an-end-to-medical-billing-secrecy/">An End to Medical-Billing Secrecy?</a></cite></small>
    </blockquote>
    <p>Briefly, charges are what the hospital billed, and payments probably come close to the actual cost.</p>
</div>

{% endblock %}