{% extends "layout.html" %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->

<!-- Example row of columns -->
<div class="row">
    <div class="span12">
        <h2>Text Search:</h2>
        <form class="form-inline" action="/textsearch" method="POST">
            <input type="text" class="input" placeholder="search..." name="search">
            <button type="submit" class="btn">Search</button>
        </form>

        <h2>Filter Search:</h2>
        <form class="form-inline" action="/search" method="POST">
            <select name="state" size="1">
                <option value="">State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">Dist of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <input type="text" class="input-small" placeholder="Zip Code" name="zip">
            <select name="drg">
                <option value="">DRG</option>
                {% for drg in drgs %}
                    <option value="{{drg['code']}}">{{drg['name']}}</option>
                {% endfor %}
            </select>
            <label class="checkbox">
                <input type="checkbox" name="reverse"> Higher overcharge first
            </label>
            <button type="submit" class="btn">Search</button>
        </form>

    </div>

</div>
<div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>This is a quick and dirty interface to the CMS chargemaster sheet discussed <a href="http://swampland.time.com/2013/05/08/an-end-to-medical-billing-secrecy/">here</a> </p>

    <p>Please note, there are <a href="http://economix.blogs.nytimes.com/2013/05/10/american-health-care-as-a-source-of-humor/">CAVEATS</a> to this data. The best uses for this data are probably negotiating with your hospital's billing office and general raging about captialism/obamacare/socialism/whatever.</p>
    <blockquote>
        <em>Acting on the suggestion of her top data crunchers at the department’s Centers for Medicare and Medicaid Services (CMS), Health and Human Services Secretary Kathleen Sebelius released an enormous data file on May 8 that reveals the list—or “chargemaster”—prices of all hospitals across the country for the 100 most common inpatient treatment services in 2011. It then compares those prices with what Medicare actually paid hospitals for the same treatments—which was typically a fraction of the chargemaster prices.</em>

        <small>Steven Brill  <cite title="An End to Medical-Billing Secrecy?"><a href="http://swampland.time.com/2013/05/08/an-end-to-medical-billing-secrecy/">An End to Medical-Billing Secrecy?</a></cite></small>
    </blockquote>
    <p>Briefly, charges are what the hospital billed, and payments probably come close to the actual cost</p>
</div>

{% endblock %}