{% extends "layout.html" %}
{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->

<div class="row">
    <div class="span12">
        <table class="table table-striped table-bordered table-hover table-condensed" id="provider_table">
            <thead>
                <tr>
                    <th>% Over</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for prov in providers %}
                    <tr>
                        <td>{{prov['score']}}%</td>
                        <td><a href="/providers/{{prov['id']}}">{{prov['name']}}</a></td>
                        <td>{{prov['city']}}</td>
                        <td>{{prov['state']}}</td>

                {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock %}