{% extends "layout.html" %}
{% block content %}
<div class="hero-unit">
    <h1>{{info['name']}}</h1>
    <address>
        {{info['address']}}<br>
        {{info['city']}}, {{info['state']}}, {{info['zip']}}
    </address>
    <p>Average Overcharge: {{info['avg_overcharge']}}%</p>

</div>

<div class="row">
    <div class="span12">
        <table class="table table-striped table-bordered table-hover table-condensed" id="drg_table">
            <thead>
                <tr>
                    <th>% Over</th>
                    <th>DRG</th>
                    <th>Discharges</th>
                    <th>Avg Charge</th>
                    <th>Avg Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for drg in drgs %}
                    <tr>
                        <td>{{drg['overcharge']}}%</td>
                        <td>{{drg['name']}}</td>
                        <td>{{drg['discharges']}}</td>
                        <td>${{drg['charges']}}</td>
                        <td>${{drg['payments']}}</td>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock %}